<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @account.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<% if @logged_in_account == @account.id %>
  <%= link_to 'Edit', edit_account_path(@account) %>
  <%= link_to 'Destroy', @account, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', accounts_path %>
  <%= link_to 'Logout', login_path, method: :delete %>
<% end %>
