
<div class="container text-center">
  <h1>The Persnickety Team</h1>
  <div class="container">
  <%= image_tag "my-icons-collection/png/#{@pictures.sample}" %>
  <%= image_tag "my-icons-collection/png/#{@pictures.sample}" %>
  <%= image_tag "my-icons-collection/png/#{@pictures.sample}" %>
  <%= image_tag "my-icons-collection/png/#{@pictures.sample}" %>
  <%= image_tag "my-icons-collection/png/#{@pictures.sample}" %>
  <%= image_tag "my-icons-collection/png/#{@pictures.sample}" %>
  </div>
  <h4><strong>Making ratings more transparent</strong></h4>
  <h4><strong>Whether you like it or not</strong></h4>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3" >
    <h3><strong>Daniel</strong></h3><br>
    <img class="img-circle" <%= image_tag "team_pictures/Daniel.png", size: 220%>
    <br>
    <br>
    <p>An East Coast native, Daniel currently lives in midtown Manhatten where he enjoys algorithm, rock climbing, and is active on HackerRank.</p>
    </div>
    <div class="col-sm-3" >
    <h3><strong>Devin</strong></h3><br>
    <img class="img-circle" <%= image_tag "team_pictures/Devin.png", size: 220%>
    <br>
    <br>
    <p>Knowledgable of all things related to Magic the Gathering, Devin is the rare colorless mana that resides in all of us.</p>
    </div>
    <div class="col-sm-3" >
    <h3><strong>Dison</strong></h3><br>
    <img class="img-circle" <%= image_tag "team_pictures/Dison.png", size: 220%>
    <br>
    <br>
    <p>A restaurant manager that has fallen in love with creating efficient systems and decided to turned into a coder.</p>
    </div>
    <div class="col-sm-3" >
    <h3><strong>Gee</strong></h3><br>
    <img class="img-circle" <%= image_tag "team_pictures/Gee.jpg", size: 220%>
    <br>
    <br>
    <p>Father of Thing 1 and Thing 2, Gee has achieved his life long goal of being a trophy husband and does this coding thing on the side.</p>
    </div>
  </div>
</div>
