<%= render 'shared/carousel' %>

<div class="container-fluid text-center" style="padding-top:30px">
  <div class="row content">

    <div class="col-sm-2 sidenav">
      <h2>Pick Your Poison</h2>
      <div class="btn-group">
        <%= link_to 'My Account', account_path(session[:account_id]), class:"button" %>
        <%= link_to 'Neighborhoods', neighborhoods_path, class:"button" %>
      </div>
    </div>


    <div class="col-sm-8 text-left">
      <h2>NYC's Worst Offenders</h2>
      <%= render 'shared/table' %>
      <br>
      <h3>Total Grade Distribution</h3>
      <%= bar_chart @restaurants.group(:grade).count %>
    </div>

  </div>
</div>
