<p id="notice"><%= notice %></p>
<div class="container-fluid text-center" style="padding-top:30px">
  <div class="row restaurant_content">
    <div class="col-sm-2 sidenav_placeholder">
      <div class="btn-group">
        <%= link_to 'My Account', account_path(session[:account_id]), class:"button" %>
        <%= link_to 'All Restuarants', restaurants_path, class:"button" %>
        <%= link_to 'Previous Restaurants', restaurant_path(@restaurant.previous_id), class:"button"%>
        <%= link_to 'Next Restaurants', restaurant_path(@restaurant.next_id), class:"button" %>
        <%= link_to 'Neighborhoods', neighborhoods_path, class:"button" %>
      </div>
    </div>
    <div class="col-sm-10 mainpage">
      <div class="row">
        <div class="col-sm-4">
          <div class="text-left" id = "Restaurant info">
            <h2> <%= @restaurant.name %> </h2>
            <p><strong>Grade:</strong> <%= @restaurant.grade %>
            <p><strong>Score:</strong> <%= @restaurant.score %>
            <p><strong>Neighborhood:</strong> <%= link_to @restaurant.neighborhood.name, neighborhood_path(@restaurant.neighborhood) %></p>
            <p><strong>Cuisine:</strong> <%= @restaurant.cuisine %></p>
            <p><strong>Phone:</strong> <%= @restaurant.phone %></p>
            <p> <strong>Address:</strong> <%= @restaurant.address %></p>
          </div>
        </div>
        <div class="col-sm-3">
            <p><strong>Violations Timeline</strong></p>
            <%=line_chart @restaurant.restaurant_violations.group(:inspection_date).count%>
        </div>
        <div class="col-sm-3">
            <p><strong>Score Timeline</strong></p>
            <%=line_chart @restaurant.get_scores_over_time%>
        </div>
      </div>
    </div>
  </div>

  <br>
  <p><%= image_tag "my-icons-collection/png/#{@badicons[0]}" %>
      <strong>For Critical Violation</strong>
      <%= image_tag "my-icons-collection/goodicons/#{@goodicons[17]}" %>
      <strong>For Non-Critical Violation</strong>
</p>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="col-xs-2" style="text-align:center">Inspection Date</th>
        <th class="col-xs-1" style="text-align:center">Violation Code</th>
        <th class="col-xs-9">Violation Description</th>
      </tr>
    </thead>

      <%@violations.each do |rv|%>
        <tbody>
          <%if rv.violation.code%>
            <td style="text-align:center">
              <%if rv.violation.critical_flag%>
                <%= image_tag "my-icons-collection/png/#{@badicons[0]}" %>
              <%else%>
                <%= image_tag "my-icons-collection/goodicons/#{@goodicons[17]}" %>
              <%end%>
            <%=rv.inspection_date%></th>
            <td style="text-align:center"><%=rv.violation.code%></th>
            <td style="text-align:left"><%=rv.violation.description%></th>
          <%end%>
        </tbody>
      <%end%>

  </table>

  <%= link_to 'Back', restaurants_path %>


</div>
