<%= render 'shared/jumbo' %>

<div class="container-fluid text-center" style="padding-top:30px">
  <div class="row content">

    <div class="col-sm-2 sidenav">
      <h2>Neighborhood Browser</h2>
      <br>
      <div class="btn-group">
        <%= link_to 'All Hoods', neighborhoods_path, class:"button" %>
        <%= link_to 'Previous Hood', neighborhood_path(@neighborhood.id-1), class:"button" %>
        <%= link_to 'Next Hood', neighborhood_path(@neighborhood.id+1), class:"button" %>
      </div>
    </div>

    <%= render 'shared/hood' %>

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>

  </div>
</div>
