<%= render 'shared/jumbo' %>

<div class="container-fluid text-center" style="padding-top:30px">
  <div class="row content">

    <div class="col-sm-2 sidenav">
      <h2>Neighborhood Browser</h2>
      <br>
      <div class="btn-group">
        <%= link_to 'My Account', account_path(session[:account_id]), class:"button" %>
        <%= link_to 'All Hoods', neighborhoods_path, class:"button" %>
        <%= link_to 'Previous Hood', neighborhood_path(@neighborhood.id-1), class:"button" %>
        <%= link_to 'Next Hood', neighborhood_path(@neighborhood.id+1), class:"button" %>
        <%= link_to 'Restaurants', restaurants_path, class:"button" %>
      </div>
    </div>

    <div class="col-sm-8 text-left">
      <p id="notice"><%= notice %></p>
      <h2>This Hood is <%= @neighborhood.name %></h2>
      <h4>Worst Restaurants based on Most Recent Inspection</h4>
      <%= render 'shared/table' %>
    </div>

    <div class="col-sm-2 sidenav">
    </div>

  </div>
</div>

<%= render 'shared/relativesummary' %>
