<%= render 'shared/jumbo' %>

<div class="container-fluid text-center" style="padding-top:30px">
  <div class="row content">

    <div class="col-sm-2 sidenav">
      <h2>Hey <%= @account.user_name %>!</h2>
      <br>
      <div class="btn-group">
        <%= link_to 'Edit Account', edit_account_path(@account), class:"button" %>
        <%= link_to 'Delete Account', @account, method: :delete, data: { confirm: 'Are you sure?' }, class:"button" %>
        <%= link_to 'Browse Neighborhoods', neighborhoods_path, class:"button" %>
      </div>
    </div>

    <%= render 'shared/hood' %>

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>

  </div>
</div>
